[run]
branch = True
parallel = True             # allow combining child-process data
source =
    eval
    control
    planning
    scripts
omit =
    */tests/*
    docs/*
    .venv/*
    **/__init__.py

[report]
show_missing = True
skip_empty = True
